* {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
}

body {
  background-color: #0d0209;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
